<p>WELCOME! INTO SHOPS PAGES</p>
<br>

<a [routerLink]="['/shops', {outlets: {'shops': ['get']}}]" routerLinkActive="active"><button #btnGetShop>GET ALL SHOPS</button></a><br>
<br>
<a [routerLink]="['/shops', {outlets: {'shops': ['post']}}]" routerLinkActive="active"><button #btnInsertShop>INSERT NEW SHOP</button></a><br>
<br>
<a [routerLink]="['/shops', {outlets: {'shops': ['put']}}]" routerLinkActive="active"><button #btnUpdateShop>UPDATE SHOP</button></a><br>
<br>
<a [routerLink]="['/shops', {outlets: {'shops': ['delete']}}]" routerLinkActive="active"><button #btnDeletetShop>DELETE SHOP</button></a><br><br>
<br>
<br>
<a [routerLink]="['/']" routerLinkActive="active"><button #btnBackToHome>BACK TO HOME</button></a><br><br> <!-- per tornare alla pagina-->

<router-outlet name="shops"></router-outlet>