/*
 button
*/

#GetAllShopsButton{ /*classe padre riferitosi al ta <a>*/
    margin: auto;
    margin-top: 20px;
    width: 55%;
    
    
  }
  
   #GetAllShopsButton button {/*classe figlio riferitosi al ta <button>*/
    font-size: 15px;
    border-radius: 15px;
    width: 40%;
    height: 50px;
    border-color:rgb(71, 132, 223) ;
    background-color: rgb(255, 206, 73) ;
    color: rgb(71, 132, 223) ;
  }

  #InsertNewShopsButton{ /*classe padre riferitosi al ta <a>*/
    margin: auto;
    margin-top: 20px;
    width: 55%;
    
  }
  
   #InsertNewShopsButton button {/*classe figlio riferitosi al ta <button>*/
    font-size: 15px;
    border-radius: 15px;
    width: 40%;
    height: 50px;
    border-color:rgb(71, 132, 223) ;
    background-color: rgb(255, 206, 73) ;
    color: rgb(71, 132, 223) ;
    
  }

  #UpdateShopsButton{ /*classe padre riferitosi al ta <a>*/
    margin: auto;
    margin-top: 20px;
    width: 55%;
    
  }
  
   #UpdateShopsButton button {/*classe figlio riferitosi al ta <button>*/
    font-size: 15px;
    border-radius: 15px;
    width: 40%;
    height: 50px;
    border-color:rgb(71, 132, 223) ;
    background-color: rgb(255, 206, 73) ;
    color: rgb(71, 132, 223) ;
    
  }

  #DeleteShopsButton{ /*classe padre riferitosi al ta <a>*/
    margin: auto;
    margin-top: 20px;
    width: 55%;
    
  }
  
   #DeleteShopsButton button {/*classe figlio riferitosi al ta <button>*/
    font-size: 15px;
    border-radius: 15px;
    width: 40%;
    height: 50px;
    border-color:rgb(71, 132, 223) ;
    background-color: rgb(255, 206, 73) ;
    color: rgb(71, 132, 223) ;
    
  }