<br>
        <p><em><h1 style="color:rgb(233, 163, 98)" class="display-3">Welcome into E-Commerce AngularWebApp</h1></em></p>
        <p><em><h3>This is an example application with Angular Framework</h3></em></p>
        <figure>
          <blockquote class="blockquote">
            <p><em>In this application you can do more actions like follow:</em></p>
          </blockquote><br>
          <figcaption class="blockquote-footer"><em style="color:rgb(233, 163, 98)">INSERT </em><em>data</em></figcaption>
          <figcaption class="blockquote-footer"><em style="color:rgb(233, 163, 98)">DELETE </em><em>data</em></figcaption>
          <figcaption class="blockquote-footer"><em style="color:rgb(233, 163, 98)">MODIFY </em><em>data</em></figcaption>
          <figcaption class="blockquote-footer"><em style="color:rgb(233, 163, 98)">SEARCH </em><em>data</em></figcaption>
        </figure>
        <br>
        <br>
        <dl class="row">
          <dt style="color:rgb(233, 163, 98)" class="col-sm-3"><em>INSERT Description</em></dt>
          <dd class="col-sm-9"><em>A description how to insert data in form</em></dd>
        
          <dt style="color:rgb(233, 163, 98)" class="col-sm-3"><em>Procedure</em></dt>
          <dd class="col-sm-9">
            <em><p>You can insert any data by form, and after that you have to click on button "INSERT".<br>
                   And you can insert SHOPS, COUNTRIES and PRODUCTS and join that to<br>
            </p></em>
          </dd>
        
          <dt style="color:rgb(233, 163, 98)" class="col-sm-3"><em>DELETE Description</em></dt>
          <dd class="col-sm-9"><em>A description how to delete data in form</em></dd>
        
          <dt style="color:rgb(233, 163, 98)" class="col-sm-3"><em>Procedure</em></dt>
          <dd class="col-sm-9">
            <em><p>You can choose, from specify list, what's you wish delete</p></em>
          </dd>

          <dt style="color:rgb(233, 163, 98)" class="col-sm-3"><em>MODIFY Description</em></dt>
          <dd class="col-sm-9"><em>A description how to modify data in form</em></dd>
        
          <dt style="color:rgb(233, 163, 98)" class="col-sm-3"><em>Procedure</em></dt>
          <dd class="col-sm-9">
            <em><p>You can modify data by specific form and after finsh to insert new data,<br>
                   have to click on SUBMIT button
            </p></em>
          </dd>

          <dt style="color:rgb(233, 163, 98)" class="col-sm-3"><em>SEARCH Description</em></dt>
          <dd class="col-sm-9"><em>A description how to inserte data in form</em></dd>
        
          <dt style="color:rgb(233, 163, 98)" class="col-sm-3"><em>Procedure</em></dt>
          <dd class="col-sm-9">
            <em><p>In this page you can research all data that you wish see</p></em>
          </dd>

        </dl>
        <br>
        <em style="color:#5aa1d4"><h1><p>This and more into E-Commerce AngularWebApp....</p></h1></em>
