body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  

   .navbar{ /*la navbar in alto che comprende tutto*/
   
    height: 8vh;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

  }

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
    
  }
  
  .navbar .form-control { /* barra della ricerca dove si scrive ciò che si cerca*/
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 10px;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  #sidebarMenu{
     /*"!important" così dico che questo comando comanda*/
  }

  /*
   * Placeholder
   */

  ::placeholder{
    color: rgb(248, 224, 8);
    font-style: italic;
  }

  /*
   * Buttons
   */

   #HomeButton{ /*classe padre riferitosi al ta <a>*/
    margin: auto;
    margin-top: 20px;
    width: 55%;
    
}

   #HomeButton button {/*classe figlio riferitosi al ta <button>*/
    font-size: 15px;
    border-radius: 15px;
    width: 100%;
    height: 60px;
    background-color: rgb(84, 139, 223);
    color : rgb(248, 224, 8);
    
}

#CountriesButton{ /*classe padre riferitosi al ta <a>*/
  margin: auto;
  margin-top: 20px;
  width: 55%;
  
}

 #CountriesButton button {/*classe figlio riferitosi al ta <button>*/
  font-size: 15px;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  background-color: rgb(84, 139, 223);
  color:rgb(248, 224, 8);
  
}

#ShopsButton{ /*classe padre riferitosi al ta <a>*/
  margin: auto;
  margin-top: 20px;
  width: 55%;
  
}

 #ShopsButton button {/*classe figlio riferitosi al ta <button>*/
  font-size: 15px;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  background-color: rgb(84, 139, 223);
  color: rgb(248, 224, 8);
  
}

#ProductsButton{ /*classe padre riferitosi al ta <a>*/
  margin: auto;
  margin-top: 20px;
  width: 55%;
  
}

 #ProductsButton button {/*classe figlio riferitosi al ta <button>*/
  font-size: 15px;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  background-color: rgb(84, 139, 223);
  color: rgb(255, 206, 73);
  
}

#SearchButton {
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 15px;
  width: 250px;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  color :rgb(255, 189, 8);
  background-color: rgb(94, 147, 226);
}

/*
 * Test
 */

 #inputSearch{
   color: yellow;
 }

