<p><em><h3>Please choose data to delete into DB </h3></em></p>
<br>
<select [formControl]="selectOption" #selectProduct class="form-select">
    <option *ngFor="let product of products" value ={{product.id_product}}>{{product.name_product}}</option><br>
</select>
 <br>
 <br>
 <button class="btn btn-warning" type="submit" (click)="deleteProduct(selectProduct.value)">DELETE ITEM</button>

 <!--
<select #selectProduct>
    <option value = "null" disabled>SELECT PRODUCT TO DELETE</option>
    <option *ngFor="let product of products" value ={{product.id_product}}>{{product.name_product}}</option><br>
</select>
<br>
<br>
<button (click)="deleteProduct(selectProduct.value)">SUBMIT</button>
<br> -->
